:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

*,
::before,
::after {
	box-sizing: border-box;
}

.container {
    padding: 0 20px;
    margin: 0 auto; 
    outline: rebeccapurple solid 1px;
}

.header {
    padding: 20px 0px;
    position: absolute;
    width: 100%;
}

.header-nav {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 120px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-link{
        font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
letter-spacing: 0.05em;
text-transform: uppercase;
text-align: center;
color: #fff;
}

.header-button {
font-family: var(--font-family);
font-weight: 700;
font-size: 13px;
text-align: center;
color: #fff;
        background-color: transparent;
border: none;
}

.current{
    border-radius: 16px;
    border: #fff 2px solid;
    
}

.hero-section {
    padding-top: 214px;
    padding-bottom: 140px;
    background-image: url(./imges/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
    text-align: center;
}

.hero-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 12px;
}

.hero-paragraph {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
}

.hero-btn {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #fff;
    background-color: #ff4e50;
    padding: 12px 38px;
    border-radius: 16px;
}

=========================================================

@media screen and (min-width: 768px){
    .container {
    width: 768px; outline: greenyellow solid 1px;
}

.header {
   padding: 36px 0px;
}

.header-link{
    font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
letter-spacing: 0.05em;
text-transform: uppercase;
text-align: center;
color: #fff;
}

.header-nav {
   flex-direction: row;
   justify-content: space-between;
}

.header-list {

}

.header-button {


}

.current{
    border-radius: 16px;
    border: #fff 2px solid;
    padding: 11px 6px;
}

.hero-section {
    background-image: url(./imges/hero-bgr-tb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero-title {
        font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 22px;
}

.hero-paragraph {
padding-bottom: 44px;
}

.hero-btn {
font-size: 14px;
padding: 12px 10px;

}
}

===========================================================

@media screen and (min-width:1440px){
    .container{
        width: 940px;
        outline: #ff4e50 solid 1px;
    }

.header {

}

.header-nav {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 120px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-link{
        font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
letter-spacing: 0.05em;
text-transform: uppercase;
text-align: center;
color: #fff;
}

.header-button {
font-family: var(--font-family);
font-weight: 700;
font-size: 13px;
text-align: center;
color: #fff;
        background-color: transparent;
border: none;
}

.current{
    border-radius: 16px;
    border: #fff 2px solid;
    
}

.hero-section {

    padding-bottom: 246px;
    background-image: url(./imges/header-bg-desk.jpg);

}

.hero-title {
    font-size: 52px;
    margin-bottom: 36px;
}

.hero-paragraph {
    font-size: 24px;
    margin-bottom: 44px;
}

.hero-btn {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #fff;
    background-color: #ff4e50;
    padding: 12px 38px;
    border-radius: 16px;
}
}